@media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "image"
      "main"
}

/* ~~~~~~~~ HEADER ~~~~~~~~~ */

.signed-in-view {
  hieght: 100%;
  background: $primary-background;
}
