@import 'normalize.css';
@import './_variables';

body {
  background: $primary-background;
  font-family: 'Poppins', sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
