/* ~~~~~~~~ GLOBAL ~~~~~~~~~ */
@import 'normalize.css';
@import './_variables';
@import './_mixins';
@import './_responsiveStyles';

* {
  background-color: $primary-background;
}

body {
  background: $primary-background;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  height: 100em;
}

img {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
